#c{
    position:relative;
    z-index:1;
}

#word{
    position:absolute;
    z-index:2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    outline: 0;
    border: 5px;
    background: transparent;
    border-bottom: 0.5px;
    border-bottom-color: #0F0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-size: 40px;
    caret-color: white;
    text-align: center;
    color: white;
    height: 50px;
    vertical-align: middle;
    font-style: arial;
    -webkit-filter: blur(0.8px);
    -ms-filter: blur(0.8px);
    filter: blur(0.8px);
}